@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background:linear-gradient(to right,white,skyblue);
}
.fade-right {
    animation: fade-right;
    animation-duration: 2s;
}
.fade-left {
    animation: fade-left;
    animation-duration: 2s;
}
.openn {
    animation : openn;
    animation-duration: 2s;

}
@keyframes fade-right {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0%);
    }
}
@keyframes fade-left {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0%);
    }
}
@keyframes openn {
    from {
        transform :scale(0%);
    }
    to {
        transform :scale(100%);
    }
}